<div>
	<ul>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li>Rap is Awesome</li>
		<li><a id="magic" onclick="App.Chart.goback()">Rap is now awesome</a></li>
	</ul>
</div>
